<!--  Configuration for Logging -->

<configuration>

    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger {36} -%msg %n</pattern>
        </encoder>
    </appender>

    <appender name="myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            journalApp.log
        </file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>journalApp-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>
<!--            Species Max File Size-->
            <maxFileSize>10MB</maxFileSize>
<!--            Species max no. of files to keep, deletes oldest file acc. to history-->
            <maxHistory>3</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger {36} -%msg %n</pattern>
        </encoder>

    </appender>

<!--    <appender name="myFileAppender" class="ch.qos.logback.core.FileAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger {36} -%msg %n</pattern>-->
<!--        </encoder>-->
<!--        <file>-->
<!--            journalApp.log-->
<!--        </file>-->
<!--    </appender>-->


    <!-- Set the root level and attach which appenders to use -->
    <root level="INFO">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="myFileAppender"/>
    </root>

</configuration>
